{% extends "app/layout.html" %}

{% block content %}

<h2>
    {{ title }}
</h2>
<div class="container-fluid">
    <div class="row">
        <form method="post" enctype="multipart/form-data" name="form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="col-md-6 col-md-offset-4 form-group">
                <textarea rows="10" cols="50" name="Keyword" placeholder="Enter Keywords Here!" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <span>Total:{{Total}}</span>
            </div>
            <div class="col-md-7 col-md-offset-4 form-group">
                <button type="submit" class="btn btn-primary col-md-5">Submit</button>
            </div>
        </form>
    </div>
    {#<p>{{Results}}</p>#}
    <div class="row">
        <table class="table table-bordered table-striped table-hover table-responsive">
            <tr>
                <th>Keyword</th>
                <th>URL</th>
                <th>Title</th>
                <th>Image Link</th>
            </tr>
            {%for Keyword,URL,Title,Image in Results %}
            <tr>
                <td>{{Keyword|safe}}</td>
                <td>
                    <a href="{{URL|safe}}" target="_blank">{{URL|safe}}</a>
                </td>
                <td>{{Title|safe}}</td>
                <td>
                    <a href="{{Image|safe}}" target="_blank"><img src="{{Image|safe}}" /></a>
                </td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>
{#<p><a href="{% url 'home' %}">Return to home</a></p>#}

{% endblock %}
